binding/src/main/resources/openliga.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema targetNamespace="http://msiggi.de/Sportsdata/Webservices"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://msiggi.de/Sportsdata/Webservices">
      <xs:element name="GetAvailLeagues">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetAvailLeaguesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAvailLeaguesResult" type="ArrayOfLeague" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfLeague">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="League" type="League" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="League">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="leagueID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="leagueSportID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="leagueName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetNextMatch">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetnextMatchResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetnextMatchResult" type="Matchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Matchdata">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="matchID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="matchDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="TimeZoneID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="matchDateTimeUTC" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="groupID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="groupOrderID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="groupName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="leagueID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="leagueName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="nameTeam1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="nameTeam2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="idTeam1" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="idTeam2" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="iconUrlTeam1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="iconUrlTeam2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="pointsTeam1" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="pointsTeam2" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="lastUpdate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="matchIsFinished" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="matchResults" type="ArrayOfMatchResult" />
          <xs:element minOccurs="0" maxOccurs="1" name="goals" type="ArrayOfGoal" />
          <xs:element minOccurs="1" maxOccurs="1" name="location" type="Location" />
          <xs:element minOccurs="1" maxOccurs="1" name="NumberOfViewers" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfMatchResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="matchResult" type="matchResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="matchResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="resultname" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="pointsTeam1" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="pointsTeam2" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="resultOrderID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="resultTypeName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="resultTypeId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfGoal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Goal" type="Goal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Goal">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="goalID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalMachID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalScoreTeam1" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalScoreTeam2" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalMatchMinute" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalGetterID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="goalGetterName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalPenalty" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalOwnGoal" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalOvertime" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="goalComment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Location">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="locationID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="locationCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="locationStadium" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetLastMatch">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLastMatchResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetLastMatchResult" type="Matchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetnextMatchByLeagueTeam">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="leagueId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="teamId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetnextMatchByLeagueTeamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetnextMatchByLeagueTeamResult" type="Matchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLastMatchByLeagueTeam">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="leagueId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="teamId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLastMatchByLeagueTeamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetLastMatchByLeagueTeamResult" type="Matchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCurrentGroupOrderID">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCurrentGroupOrderIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetCurrentGroupOrderIDResult" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCurrentGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCurrentGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetCurrentGroupResult" type="Group" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Group">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="groupName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="groupOrderID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="groupID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMatchdataByGroupLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="groupOrderID" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByGroupLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetMatchdataByGroupLeagueSaisonResult" type="ArrayOfMatchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfMatchdata">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Matchdata" type="Matchdata" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMatchdataByLeagueDateTime">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="fromDateTime" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="toDateTime" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByLeagueDateTimeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetMatchdataByLeagueDateTimeResult" type="ArrayOfMatchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByTeams">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="teamID1" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="teamID2" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByTeamsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetMatchdataByTeamsResult" type="ArrayOfMatchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetMatchdataByLeagueSaisonResult" type="ArrayOfMatchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByGroupLeagueSaisonJSON">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="groupOrderID" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchdataByGroupLeagueSaisonJSONResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetMatchdataByGroupLeagueSaisonJSONResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetFusballdaten">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Spieltag" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Liga" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Saison" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Userkennung" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetFusballdatenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetFusballdatenResult" type="ArrayOfFussballdaten" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfFussballdaten">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Fussballdaten" type="Fussballdaten" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Fussballdaten">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SpielID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Spieltag" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Spieldatum" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Team1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Team2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ErgebnisTeam1" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ErgebnisTeam2" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="lastUpdate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMatchByMatchID">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="MatchID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMatchByMatchIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetMatchByMatchIDResult" type="Matchdata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTeamsByLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTeamsByLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetTeamsByLeagueSaisonResult" type="ArrayOfTeam" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfTeam">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" type="Team" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Team">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="teamID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="teamName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="teamIconURL" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAvailGroups">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAvailGroupsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAvailGroupsResult" type="ArrayOfGroup" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" type="Group" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAvailSports">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetAvailSportsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAvailSportsResult" type="ArrayOfSport" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfSport">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Sport" nillable="true" type="Sport" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Sport">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="sportsID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="sportsName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAvailLeaguesBySports">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sportID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAvailLeaguesBySportsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAvailLeaguesBySportsResult" type="ArrayOfLeague" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetGoalsByMatch">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="MatchID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetGoalsByMatchResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetGoalsByMatchResult" type="ArrayOfGoal" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetGoalsByLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetGoalsByLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetGoalsByLeagueSaisonResult" type="ArrayOfGoal" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetGoalGettersByLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetGoalGettersByLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetGoalGettersByLeagueSaisonResult" type="ArrayOfGoalGetter" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfGoalGetter">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalGetter" type="GoalGetter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GoalGetter">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="goalGetterID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="goalGetterName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="goalGetterNationality" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalGetterBirthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="goalGetterGoalCount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetLastChangeDateByLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLastChangeDateByLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetLastChangeDateByLeagueSaisonResult" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLastChangeDateByGroupLeagueSaison">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="groupOrderID" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueShortcut" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="leagueSaison" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLastChangeDateByGroupLeagueSaisonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetLastChangeDateByGroupLeagueSaisonResult" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>